/* App.css */
body {
  margin: 0;
  padding: 0;
}


.sensor-container {
display: flex;
justify-content: space-around;
}

.sensor-box {
width: 150px;
height: 150px;
border: 1px solid #ccc;
background-color: white;
padding: 10px;
margin: 10px;
text-align: center;
}

.slider-container {
display: flex;
flex-direction: column;
align-items: center;
}

nav {
font: 1em sans-serif;
background-color: rgb(40, 87, 151);
color: white;
display: flex;
align-items: center;
padding: 20px;
justify-content: space-between;
border-bottom: 4px solid rgb(224, 129, 46);
}

.nav h2 {
margin: 0;
font-weight: lighter;
}

.nav-buttons {
display: flex;
align-items: center;
}

.nav-buttons button {
margin-left: 10px;
background-color: rgb(40, 87, 151);
color: white;
border: none;
padding: 10px ;
cursor: pointer;
font-size: 16px;
}

.nav-buttons button:hover {
text-decoration: underline;
}

.centered-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.centered-image-container img {
  max-width: 50%; /* Ensure the image does not exceed the container width */
  max-height: 50%; /* Ensure the image does not exceed the container height */
  width: 25%; /* Adjust the width as needed (e.g., 50% for half the size) */
  height: 25%; /* Maintain the aspect ratio while resizing */
}